################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.ply
*.png
*.bmp
*.pdb
*.idb
*.obj
/DepthSensingCUDA/CompiledShaders
